#title
  margin-bottom: 0
  font-weight: bold
  text-transform: uppercase

.line
  height: 4px
  width: 100px
  background-color: #000
  transition: width 750ms $easeOutQuad

.menu-wrap > .menu li
  display: inline-block
  font-weight: bold
  text-transform: uppercase
  font-size: 18px
  margin-left: 30px
  transition: opacity 250ms $easeOutQuad
  margin-top: 4px
  opacity: 0
  list-style-type: none

  a
    text-decoration: none
    color: #d3d3d3
    transition: color 250ms $easeOutQuad

  a.active
    color: #000

.menu-wrap:hover
  .line
    width: 500px

  .menu li
    transition: opacity 250ms $easeInQuad 650ms
    opacity: 1