<h4>why save something?</h4>
<div class="row">
  <div class="one-half column">
    <p>Saving water keeps our rivers and streams healthy which is essential for
fish and wildlife species which need water to survive Utah’s dry summers. Saving
water is everyone’s responsibility because if we don’t save water now, new water
sources will force mandatory increases in water rates in the future.</p>
    <p>Utah’s rivers are more than just water sources and trout streams. Rivers
are life-support systems that keep fish and most wildlife alive in Utah’s
deserts. 80 percent of Utah’s wildlife species depend on rivers for a portion
of their life cycles which is why saving life from extinction means keeping
water in our rivers.</p>
    <p>For birds, amphibians, and mammals rivers act as migration corridors, as
water sources and provide forage. That’s why in mid-summer, Pronghorn antelope
in Utah often stay within 4 miles of a water source and consume 1.2 gallons per
day.</p>
  </div>
  <div class="one-half column">
    <p>Utah’s rivers are essential to life because of a diverse corridor of
vegetation they support called a riparian zone. Accounting for only 7 percent
of Utah’s landscape, riparian areas support more wildlife species than all other
habitat types combined.</p>
    <p>Riparian zones provide important nesting and prey habitat for avian
species and why bird densities may be twice as high in riparian areas than in
upland areas. In the arid Southwest, including parts of Utah, over 75 percent of
all bird species nest primarily in riparian zones. Around 80 percent of
neotropical migrant songbirds depend on riparian woodlands for nesting.</p>
    <p>People are often shocked to learn Utah’s rivers have no legal right to
exist. Our rivers are someone’s water rights headed downstream and why the
majority of Utah fisheries are dried up for agriculture, municipal use or waste.
In Utah, municipal and agricultural diversions partially or totally dewater 53
percent of the State’s 6,281 miles of fishery streams. As we divert, dam, and
channel rivers, the future of aquatic species grows more and more uncertain.</p>
  </div>
</div>