<div class="footer">
  <div class="footer-link">
    <a href="http://utahrivers.org/">utah rivers council</a>
  </div>
  <div class="footer-link">
    <a href="https://www.facebook.com/UtahRivers/">facebook</a>
  </div>
</div>
