<div class="header">
  <div class="header-logo"></div>
  <div class="menu-wrap">
    <div class="line"></div>
    <ul class="menu">
      <li>{{#link-to 'index'}}home{{/link-to}}</li>
      <li>{{#link-to 'rainharvest'}}rainharvest{{/link-to}}</li>
      <li>{{#link-to 'whySaveSomething'}}why save something?{{/link-to}}</li>
    </ul>
  </div>
</div>