<div class="row">
  <div class="one-half column">
    <h4>Save Water by Installing These Rain Barrels at Your House!</h4>
  </div>
</div>
<div class="row">
  <div class="one-half column">
    <p>The Utah Rivers Council is excited to bring you RainHarvest, a rainwater
  collection program created to engage homeowners and small businesses to use
  rainwater to reduce Utah’s nation-leading water use (per-person) and improve
  water quality of local streams, rivers and lakes. Rainwater harvesting is legal
  in Utah and now is the perfect time to start using this free, legal water at
  your home.</p>
  </div>
  <div class="one-half column">
    <p>RainHarvest is modeled after the most successful programs in the U.S. which
  use one of the most user-friendly barrels on the market, the Ivy Rainbarrel.
  For a limited time residents can pre-order highly discounted rain barrels at
  www.rainbarrelprogram.org/urc.</p>
  </div>
</div>