<div class="row">
  <div class="one-third column">
    <h4>rainharvest</h4>
    <p>Save Water by Installing These Rain Barrels at Your House!</p>
    {{#link-to 'rainharvest'}}
      <!-- <div class="link-picture rain-harvest">
        <p>read more</p>
      </div> -->
    {{/link-to}}
  </div>
  <div class="one-third column">
    <h4>utah: america's biggest water waster</h4>
    <p>According to the U.S.G.S., Utah is the biggest water user (per person)
  of municipal water in America. Over the last 5 years, while average water use
  declined across the country, Utah’s water use actually rose slightly.</p>
    <div class="btn">
      <p>read more</p>
    </div>
  </div>
  <div class="one-third column">
    <h4>why save something?</h4>
    <p>Saving water keeps our rivers and streams healthy which is essential for
  fish and wildlife species which need water to survive Utah’s dry summers.
  Saving water is everyone’s responsibility because if we don’t save water now,
  new water sources will force mandatory increases in water rates in the future.</p>
    <div class="btn">
      <p>read more</p>
    </div>
  </div>
</div>
{{dancing-water}}